.serverError-page-container {
  text-align: center;
  flex-direction: column;

  h1 {
    font-size: 40px;
  }

  h4 {
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: #3369F3;
  }
}
