{{#> MainContainer}}
<div class="serverError-page-container">
  <h1>500</h1>
  <h4 class="description">Мы уже фиксим</h4>
  {{> Link label='назад к чатам' href='/messenger'}}
</div>
{{/ MainContainer}}
