{{#> MainContainer}}
<div class="notFound-page-container">
    <h1>500</h1>
    <h4 class="description">Мы уже фиксим</h4>
    {{> Link label='назад к чатам' href='/signin'}}
</div>
{{/ MainContainer}}