:root {
    --white: white;
    --orange: #ff7a00;
    --blue: #3369f3;
    --red: #fc4343;
    --red-light: #fedede;
    --success: #a043fc;
    --gray-0: #f3f3f3;
    --gray-1: #ebebeb;
    --gray-light: #9a9a9a;
    --gray-3: #464646;
    --gray-dark: #3c3c3c;

    box-sizing: border-box;
}
