.messenger-container {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    display: flex;

    .sidebar {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        padding: 10px;
        border-right: 2px solid #eaeaea;

        .profile {
            display: flex;
            flex-direction: row-reverse;
            margin: 10px 0;

            a {
                color: var(--gray-0);
                text-decoration: none;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .currentChat {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border: 2px solid #eaeaea;
    }
}
