<div class="messenger-container">
    <div class="sidebar">
        <div class="profile">
            <a href="/profile">Профиль</a>
        </div>
        <div class="searchBar"></div>
        {{{ ChatHeader }}}
        {{{ ChatList chats=chats }}}
    </div>
    <div class="currentChat">
        {{{ MessageList }}}
    </div>
</div>
