<div class="messenger-container">
    <div class="sidebar">
        <div class="profile">
            <a href="/profile">Профиль</a>
        </div>
        <div class="searchBar"></div>
        <div class="chats">{{> ChatList}}</div>
    </div>
    <div class="currentChat">
        <div class="messages-window">
            <h2>Заглушка</h2>
        </div>
        <input placeholder="Сообщение" name="message" class="message-input" type="text" />
    </div>
</div>
