
<div class="profile-container">
    <div class="backButton-container">
        <a href="/messenger">Назад</a>
    </div>
    <div class="profile-info">
        {{!-- <div class="avatar"> 
            <img src="../../../public/Profile_icon.svg" alt="profile_icon">
        </div> --}}
        {{> ProfileAvatar}}
        <h3 class="name_title">Имя</h3>
        <div class="properties-container">
            {{> ProfileProperty key='Почта' value ='pochta@yandex.ru'}}
            {{> ProfileProperty key='Логин' value ='ivanivanov'}}
            {{> ProfileProperty key='Имя' value ='Иван'}}
            {{> ProfileProperty key='Фамилия' value ='Иванов'}}
            {{> ProfileProperty key='Имя в чате' value ='Иван'}}
            {{> ProfileProperty key='Телефон' value ='+7 (909) 967 30 30'}}
        </div>

        <div class="controlButtons-container">
            <a href="/editprofile">Изменить данные</a>
            <a href="/editpassword">Изменить пароль</a>
            <a class="exit-button" href="./signin">Выйти</a>
        </div>
    </div>
</div>
