.button {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 7px;

    &:focus {
        border: none;
        outline: none;
    }

    &:hover {
        background: #4979f1;
    }
}
