.message {
    background-color: var(--gray-2);
    border-radius: 15px;
    height: auto;
    width: auto;
    box-shadow: 0 0 5px 0 #0000001a;
    float: left;
    max-width: 50%;
    min-width: 200px;

    &.message-my {
        border-radius: 15px 15px 0;
        background-color: var(--blue-light);
        border: 1px solid var(--blue-light);
        float: right;
        max-width: 50%;
        min-width: 200px;

        .badge {
            background-color: transparent;

            span {
                color: var(--red);
            }
        }
    }

    .message__text {
        padding: 11px;
        background-color: transparent;
    }
}
