{{#> AuthFormContainer}}
<form action="/messenger" class="form">
    {{> FormHeader label='Войти' }}
    <div class="inputContainer">
        {{{ InputValidated ref="login" name="login" type="text" label="Логин" validate=validate.login }}}
        {{{ InputValidated ref="password" name="password" type="password" label="Пароль" validate=validate.password }}}
    </div>
    <div class="form-footer signin-footer">
        {{{ BaseButton className="submit-button" text="Авторизоваться" onClick=handleSubmit }}}
        {{> Link label='Нет аккаунта?' href='/signup' }}
    </div>
</form>
{{/AuthFormContainer}}
