{{#> MainContainer}}
<div class="notFound-page-container">
    <h1>404</h1>
    <h4 class="description">Не туда попали</h4>
    {{> Link label='назад к чатам' href='/signin'}}
</div>
{{/ MainContainer}}